.userPoints {
    position: absolute;
    top: 23px;
    left: 38px;
    font-size: 65%;
    color: #f0ece7d2;
    min-width: 50px;
}

.c4-card-body {
    height: 150px;
    overflow: scroll;
}

.placeholder {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
}