.c4-card {
    padding: 12px;
    border-radius: 0px;
}

.game-area, .game-info {
    color: rgb(194, 194, 194);
}

.game-area {
    margin-bottom: 40px;
}

.game-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 12px;
    padding: 20px;
}

.game-info>div {
    align-self: center;
}

.game-info>.player:last-child {
    text-align: right;
}

.game-info>.player>img {
    display: none;
}

.game-status {
    margin-bottom: 6px;
}

@media(min-width: 992px) {
    .game-info>.player>img {
        display: initial;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
}