<div id="wrapper" *ngIf="game">
    <div class="c4-card score">
        <div class="player">
            <img [src]="players('left').imgUrl"> {{players('left').name  | surname }}
        </div>
        <div class="hcentered">
            <div class="separator"></div>
            <app-timer [startDate]="game.startDate"></app-timer>
        </div>
        <div class="player">
            {{players('right').name | surname }} <img [src]="players('right').imgUrl">
        </div>
    </div>
    <div class="c4-card">
        <div class="game-area">
            <div id="gameStatus">
                {{game.status}}
            </div>
            <app-board [game]="game" [user]="user" (userMoved)="onBoardClick($event)">
            </app-board>
        </div>
    </div>

</div>