.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
}

.grid>div:nth-child(odd) {
    justify-self: start;
}

.grid>div:nth-child(even) {
    justify-self: end;
}

.player>img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    vertical-align: top;
}

.details {
    display: inline-block;
    user-select: none;
    height: 40px;
    padding: 0 3px;
}

.details>div:last-child {
    font-size: 80%;
    cursor: pointer;
}

input[type=radio] {
    margin-right: 4px;
}

