.panel-create-game {
    padding: 7px;
    background-color: #eee;
    display: flex;
    flex-flow: row wrap;
    border-radius: 2px;
}
.game-card {
    padding: 4px;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}
.game-card img {
    margin-bottom: 3px;
}
.game-card h6 {
    margin: 0;
}