<div class="c4-container">
  <header>
    <img src="assets/img/app-logo.png" alt="Board game" width="40" height="40"> Connect Four
  </header>
  <main>
    <div class="jumbotron">
      <h3 class="display-4">Welcome!</h3>
      <p class="lead">Here you can play <a href="https://en.wikipedia.org/wiki/Connect_Four" target="_blank">Connect
          Four</a> online.</p>
      <hr class="my-4">
      <p>To continue, please sign into your Google account. If you use an add-blocker, you need to disable it for this site.
      </p>
      <div style="width:200px" id="googleSignInDiv"></div>
    </div>
  </main>
  <app-policy-accept></app-policy-accept>
</div>