#container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: mintcream;
    display: flex;
    flex-flow: column nowrap;
}

header {
    background: linear-gradient(to right, #006994, white);
    padding: 32px 16px;
    color: #111;
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 100px;
}

main>div,
main>img {
    margin: 4px auto;
}

hr {
    width: 14em;
    margin: 0 0 .5em 0;
    border-color: mintcream;
}

p {
    font-size: .75em;
    margin: 0;
}

.notice {
    margin: .3em 0;
    padding: 5px;
    border-radius: 3px;
    border: .5px solid #ccc;
    color: white;
    opacity: 0.75;
}

#login-buttons {
    width: 500px;
    padding: 5px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
}

@media (min-width: 768px) {
    header {
        background: initial;
        color: lightcoral;
    }
    main {
        background: linear-gradient(to bottom, #006994, white);
        padding-top: 200px;
    }
    .notice {
        color: #333;
    }
}