main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 100px;
}

main>div {
    margin: 4px auto;
}

#spinner {
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 250px;
}

p {
    font-size: .75em;
    margin: 0;
}

.notice {
    margin: .3em 0;
    padding: 5px;
    border-radius: 3px;
    color: #333;
    border: .5px solid currentColor;
}

.login {
    width: 500px;
    padding: 5px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
}

@media (min-width: 768px) {
    main {
        background: linear-gradient(to bottom, #006994, white);
        padding-top: 150px;
    }
}