.grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.grid>div:nth-child(1) {
    justify-self: start;
}

.grid>div:nth-child(2) {
    justify-self: center;
    align-self: end;
}

.grid>div:nth-child(3) {
    justify-self: end;
}

.arrows>span {
    cursor: pointer;
    color: #666;
    font-weight: bold;
}

.player>img {
    border-radius: 20px;
}

.details {
    display: flex;
    flex-flow: column;
    margin: 0 3px;
    user-select: none;
}

.left {
    float: right;
}

.right {
    float: left;
}

.details>span:last-child {
    font-size: 80%;
}

