.c4-card {
    padding: 8px;
    margin-bottom: 8px;
}
@media(min-width: 768px) {
    .c4-card {
        padding: 16px;
        margin-bottom: 16px;
    }
}
.card-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header>div {
    display: inline-block;
}

.header>span {
    font-size: 80%;
}

.header>div:nth-child(1) {
    width: 45%;
}

.header>div:nth-child(2) {
    width: 10%;
    text-align: center;
}

.header>div:nth-child(3) {
    width: 45%;
    text-align: right;
}

.bullet {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin: 0 2px;
}

.red {
    background-color: #ff010b;
}

.yellow {
    background-color: #ffd918;
}