<div *ngIf="game">
    <div class="c4-card">
        <div class="score">
            <div>
                <div class="bullet red"></div>
                <div>{{game.players.red.name}}</div>
            </div>
            <div>{{game.points.red}} - {{game.points.yellow}}</div>
            <div>
                <div class="bullet yellow"></div>
                <div>{{game.players.yellow.name}}</div>
            </div>
        </div>
    </div>
    <div class="c4-card">
        <div id="gameInfo">
            <div *ngIf="game.state === 'in progress'" class="flex-row">
                <span>{{turnMessage}}</span>
                <app-timer [startDate]="game.startDate"></app-timer>
            </div>
            <div *ngIf="gameOverMessage" style="text-align: center">
                {{gameOverMessage}}
            </div>
        </div>

        <app-board [activeColor]="game.activeColor" [isOurTurn]="isOurTurn" (move)="onMove($event)"></app-board>

        <div style="text-align: center" [ngStyle]="newGameButtonStyle">
            <button type="button" class="btn btn-primary" (click)="onClickNewGame()" [disabled]="newGameClicked">New
                game</button>
        </div>
    </div>

</div>