<div id="wrapper" *ngIf="game">
    <div style="display: flex; justify-content: center">
        <div class="timer">
            <app-timer [startDate]="game.startDate"></app-timer>
        </div>
    </div>
    <div class="c4-card" style="margin-bottom: 10px">
        <div class="score">
            <div class="player">
                <img [src]="game.players.red.imgUrl"> {{game.players.red.name  | firstWord }}
            </div>
            <div class="points">{{game.points.red}} - {{game.points.yellow}}</div>
            <div class="player">
                {{game.players.yellow.name | firstWord }} <img [src]="game.players.yellow.imgUrl">
            </div>
        </div>
    </div>
    <div class="c4-card">
        <div class="gameArea">
            <div class="gameMessage">
                <div *ngIf="game.state === 'in progress'" class="spaceBetween">
                    <span id="turnMessage">{{turnMessage}}</span>
                </div>
                <div id="gameOverMessage" *ngIf="game.state === 'over'" style="text-align: center">
                    {{gameOverMessage}}
                </div>
            </div>

            <app-board [activeColor]="game.activeColor" [allowMove]="isOurTurn" (userMoved)="onBoardClick($event)">
            </app-board>
        </div>

        <div class="newGameBtn" *ngIf="showNewGameButton">
            <button type="button" class="btn btn-primary" (click)="onClickNewGame()" [disabled]="newGameBtnClicked">New
                Game</button>
        </div>
    </div>

</div>