<div *ngIf="game">
    <div class="c4-card">
        <div class="score">
            <div class="player">
               <img [src]="game.players.red.iconUrl"> {{game.players.red.name  | parseFirstWord }}
            </div>
            <div class="points">{{game.points.red}} - {{game.points.yellow}}</div>
            <div class="player">
                {{game.players.yellow.name | parseFirstWord }} <img [src]="game.players.yellow.iconUrl">
            </div>
        </div>
    </div>
    <div class="c4-card">
        <div id="gameInfo">
            <div *ngIf="game.state === 'in progress'" class="flex-row">
                <span id="turnInfo">{{turnMessage}}</span>
                <app-timer [startDate]="game.startDate"></app-timer>
            </div>
            <div *ngIf="gameOverMessage" style="text-align: center">
                {{gameOverMessage}}
            </div>
        </div>

        <app-board [activeColor]="game.activeColor" [isMyTurn]="isMyTurn" (boardClick)="onBoardClick($event)"></app-board>

        <div style="text-align: center" [ngStyle]="newGameButtonStyle">
            <button type="button" class="btn btn-primary" (click)="onClickNewGame()" [disabled]="newGameBtnClicked">New
                game</button>
        </div>
    </div>

</div>