.c4-card {
    padding: 8px;
    margin-bottom: 8px;
}

@media(min-width: 576px) {
    .c4-card {
        padding: 16px;
        margin-bottom: 16px;
    }
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.score {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.score>div:last-child {
    text-align: right;
}

.bullet {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin: 0 2px;
}