.c4-card {
    padding: 12px;
}

.game-area {
    margin-bottom: 40px;
}

.score {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 12px;
}
.score>div {
    align-self: center;
}

.score>.player:last-child {
    text-align: right;
}

.score>.player>img {
    display: none;
}

.separator {
    margin: 2px auto;
    box-sizing: border-box;
    height: 4px;
    width: 65px;
    border-style: inset;
    border-color: rgb(224, 167, 8);
    border-width: 3px 0 0 0;
}

#gameStatus {
    margin-bottom: 6px;
}

@media(min-width: 992px) {
    .score>.player>img {
        display: initial;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
}
