<div class="modal-header">
  <h4 class="modal-title"> Game over </h4>
</div>
<div class="modal-body">
  <div *ngIf="game.winner" class="centered">
    <div>🏆🏆🏆 Winner 🏆🏆🏆</div>
    <img [src]="game.winner.imgUrl" alt="User icon" width="40" height="40" style="border-radius: 20px">
    <div id="winnername">{{game.winner.name | surname}}</div>
  </div>
  <div *ngIf="!game.winner">Game ended in a draw 🤔</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Quit')" style="float:left">Quit
    Game</button>

  <button type="button" class="btn btn-success" aria-label="Close" (click)="activeModal.close('Rematch')" ngbAutofocus>
    Play another round
  </button>
</div>