<div class="wrapper">
  <header>
    <h1>Terms of Service and Policy</h1>
    <div id="brand">
      <img src="assets/img/connect4.png" alt="Board game" width="40" height="40">
    </div>
  </header>
  <main>
    <section>
      <h4>1. <u>Description</u></h4>
      <div class="text">
        <p>
          This website is an online version of the classic <a href="https://en.wikipedia.org/wiki/Connect_Four"
            target="_blank">Connect Four</a> game. The game can be played for free and does not require registration.
          The website is free of ads.
        </p>
      </div>
    </section>
    <section>
      <h4>2. <u>Personal data access</u></h4>
      <div class="text">
        <p>
          To provide players with an online identity, this website invites users to sign in with a social media account.
          This popular feature is called social login.
          The social login feature enables us to request and obtain the public information in your social media profile,
          i.e. your name, profile picture and email address.
          The name and profile image serve to create your visual identity in the game context. When you sign out or or
          close the browser window,
          your data is removed from view.
          We also obtain the email address in your social media profile, however this information is completely hidden
          from view.
        </p>
      </div>
    </section>
    <section>
      <h4>3. <u>Data collection</u></h4>
      <div class="text">
        <p>
          We do not collect, process or store your personal data or any technical information such IP address or device
          characteristics.
          This website does not use Google Analytics to collect anonymous data about users.
          The website uses however third-party services that can track your internet activity. The details of
          this
          usage are provided in the next section.
        </p>
      </div>
    </section>
    <section>
      <h4>4. <u>Cookies and privacy</u></h4>
      <div class="text">
        <p>
          Cookies are small text files stored on your device when you visit a website, in order to
          retrieve
          information about your interaction with the website. For example, the items saved in your shopping cart or
          login status.
          Connect Four uses cookies to customize the behaviour of the website and to provide the social login
          feature. Cookies can classified into first-party and third-party cookies.

        </p>
        <h5 class="bold">First-party cookies: </h5>
        <p>
          When you accept our Policy, we need to know that you have done so, in order to never bother you again
          about
          the Policy.
          We use a persistent cookie to this end.
        </p>
        <h5 class="bold">Third-party cookies: </h5>
        <p>
          Third-party cookies are cookies that are set by a website other than the one you are currently on.
          When you sign into our website using your social media account, the third-party service that provides this
          functionality may set a
          <a href="https://robertheaton.com/2017/11/20/how-does-online-tracking-actually-work/" target="_blank">
            tracking</a> cookie on your device.
          Tracking cookies enable a tracker service to record your presence across
          some of the websites that you visit. This is done for marketing purposes and to serve you targeted
          ads.
          We are constrained to accept third-party cookies as an inevitable requirement
          of the social login feature we want to support.
          If you are concerned about this practice you should probably avoid logging in with your social media
          account on Connect Four and on any other place.
        </p>
      </div>
    </section>
    <section>
      <h4>5. <u>Communication</u></h4>
      <div class="text">
        <p>We do not send any kind of email messages to our users.</p>
      </div>
    </section>
    <section>
      <h4>6. <u>Policy updates</u></h4>
      <div class="text">
        <p>The Connect Four Terms of Service and Policy may change in the future. When it does, an update will be
          published on this page. Thank you for reading!</p>
      </div>
    </section>
  </main>
</div>