<div class="wrapper">
  <header>
    <div id="brand">
      <img src="assets/img/connect4.png" alt="Board game" width="40" height="40">
    </div>
    <h1>Terms of Service and Privacy Policy</h1>
  </header>
  <main>
    <section>
      <h2>Description</h2>
      <div class="text">
        <p>
          This website provides an online version of the classic <a href="https://en.wikipedia.org/wiki/Connect_Four" target="_blank">Connect Four</a> game. The game can be played for free and does not require registration. However, since players need an identity online, you are invited to sign in with your Google or Facebook account.
          This feature is called social login. 
        </p>
      </div>
    </section>
    <section>
        <h2>Data Policy</h2>
        <div class="text">
          <p>
            The <span class="bold">social login</span> feature enables us to access public information from your profile, such as your name, email address and profile picture.
            Your name and profile picture will be visible to other users as long as you are signed in. 
            When you sign out of the application or close the browser window, all information about you should <span class="bold">normally</span> be removed, unless some unforseen defect in the source code prevents it.  
          </p>
        </div>
      </section>
  </main>
</div>