.wrapper {
    color: #f0ece7;
    background-color: var(--gray-dark);
    min-height: 100vh;
    padding: 20px 30px 50px 30px;
}

.brand img {
    width: 40px;
    height: 40px;
}

.brand {
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px 0;
}

section {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 20px;
    border-radius: 6px;
    margin: 20px 0 0 0;
}

section .text {
    font-weight: lighter;
}

.bold {
    font-weight: normal;
}
