img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

tr {
    display: block;
}

td {
    display: inline-block;
}

td:nth-of-type(1) {
    width: 70%;
}

td:nth-of-type(2) {
    width: 30%;
    text-align: right;
}