.panel {
    border-radius: 5px;
    background-color: white;
    color: #666;
}

p {
    margin: 0;
    padding: 7.5px 10px;
    user-select: none;
}

table {
    width: 100%;
}

tr {
    box-sizing: border-box;
    padding: 0 10px;
    display: block;
    cursor: pointer;
}

tr:hover {
    background-color: rgba(0, 0, 0, .03);
}

td {
    min-height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-size: 15px;
    display: inline-block;
}

td:nth-child(1)>span {
    font-size: 80%;
    line-height: normal;
}

td:nth-child(1) {
    width: 20%;
}

td:nth-child(2) {
    width: 60%;
    text-align: center;
}

td:nth-child(3) {
    width: 20%;
    text-align: right;
}

@media(min-width:768px) {
    td {
        min-height: 35px;
        line-height: 35px;
    }
}