<div class="panel" *ngIf="visible">
  <h6 class="card-header text-center">Join({{listPlayers.length}})</h6>
  <p *ngIf="listPlayers.length == 0">No one is online</p>
  <table>
    <tbody>
      <tr *ngFor="let user of listPlayers" (click)="onClick(user)">
        <td>
          {{user.status}}
        </td>

        <td><span><i class="fas fa-user-circle"></i></span> {{user.username}}
        </td>

        <td>
          <i *ngIf="user.status !== 'Invited'" class="fas"
            [ngClass]="{'fa-arrow-alt-circle-right' : user.status === 'Online', 'fa-arrow-alt-circle-down' : user.status === 'In game'}">
          </i>
          <app-timer [active]="user.status === 'Invited'"></app-timer>
        </td>
      </tr>
    </tbody>
  </table>
</div>