.c4-container {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    min-width: 318px;
    padding: 0 0 16px 0;
    background-image: linear-gradient(to bottom, #006994, #fff) !important; 
    color: #f0ece7;
}

.c4-container>header {
    padding: 16px 10px;
    user-select: none;
    background-color: #2b3035;
}

.c4-card {
    border-radius: 3px;
    background-color: var(--gray-dark);
}

@media(min-width: 576px) {
    .c4-container {
        font-weight: lighter;
    }
}