:root {
    --main-text-color: #f0ece7;
}

.c4-container {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    min-width: 318px;
    padding: 0 0 16px 0;
    color: var(--main-text-color);
    background-image: linear-gradient(to bottom, #006994, #fff) !important;
}

.c4-container>header {
    padding: 16px 10px;
    user-select: none;
    background-color: #2b3035;
}

.c4-card {
    background-color: var(--gray-dark);
    border-radius: 3px;
    overflow: hidden;
    user-select: none;
    font-family: 'Nunito', sans-serif;
    color: var(--main-text-color);
}

.c4-card-header {
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    padding: 10px 0;
}

.c4-card-body {
    color: inherit;
}

.c4-card-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    padding: 0 13px;
}

.c4-card-row:hover {
    background-color: #3e4249;
    cursor: pointer;
}

.c4-card-row-item>img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

/** Bootstrap modal overrides **/

.c4-modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--gray-dark);
    border-bottom: 1px solid #222;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.c4-modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }

.c4-modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #222;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.c4-modal-footer>button {
    margin-left: 10px;
}

/** Responsive styles **/

@media(min-width: 992px) {
    .c4-container {
        font-weight: lighter;
    }
}

/* Utils */

.spaceBetween {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}