#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #eee;
}
#sidebar > .controls {
    background-color: #ddd;
    padding: 10px;
}
#content {
    margin-left: 250px;
    padding: 0 30px 40px 30px;
    background: linear-gradient(to right bottom, #006994, #fff);;
    min-height: 100vh;
}
.centered-box {
    max-width: 720px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 2em 0 4em;
    font-weight: lighter;
    line-height: normal;
    color: #eee;
}
.header > .brand {
    cursor: pointer;
}
.header > .brand > img {
    vertical-align: bottom;
} 
.header > .profile {
   padding-top: 12px;
}



