header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header>.brand,
header>.profile>.icon,
header>.profile>.c4-popover>.item {
    cursor: pointer;
}

header>.brand {
    font-weight: bold;
}

header>.profile {
    position: relative;
    min-width: 125px;
}

header>.brand>img,
header>.profile>.icon>img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

header>.profile>.icon {
    position: relative;
    float: right;
}

.c4-popover {
    position: absolute;
    top: 42px;
    right: 2px;
    z-index: 10000;
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 10px black;
}

.c4-popover>.item {
    font-weight: normal;
    line-height: 2;
    padding: 4px 16px 4px 10px;
    color: #222020;
}

.c4-popover>.item:hover {
    background-color: #f1f1f1;
}

.c4-popover>.item>a {
    color: inherit;
}

.c4-popover>.item>a:hover {
    text-decoration: none;
    color: #000;
}

.item:first-child {
    border-radius: 3px 3px 0 0;
}

.item:last-child {
    border-radius: 0 0 3px 3px;
}

.c4-popover>.divider {
    box-sizing: border-box;
    border-top: .5px #d0d2d8 solid;
}

main {
    flex-grow: 1;
    padding: 10px 10px 0;
}

.content {
    display: grid;
    grid-gap: 10px;
}

.panels {
    display: grid;
    grid-gap: 10px;
}

@media (min-width: 576px) {

    main {
        padding: 10px 10px 0;
    }

    .content {
        display: grid;
        grid-gap: 10px;
        max-width: 50%;
        margin: 0 auto;
    }

    .panels {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}