<div class="c4-container" *ngIf="user">
  <header>
    <div class="brand" (click)="closeGameView()">
      <img src="assets/img/connect4.png" alt="board" role="navigation"> Connect Four
    </div>
    <div class="profile">
      <div id="icon" class="icon" (click)="showPopoverMenu = !showPopoverMenu">
        <img [src]="user.iconUrl" alt>
      </div>
      <div class="c4-popover" *ngIf="showPopoverMenu">
        <div class="item"><a href="https://blog.codecritique.org" target="_blank">About</a></div>
        <div class="item"><a href="https://en.wikipedia.org/wiki/Connect_Four" target="_blank">Help</a></div>
        <div class="divider"></div>
        <div id="signout-btn" class="item" (click)="signout()">Sign out</div>
      </div>
    </div>
  </header>
  <main>
    <div class="box">
      <app-notification></app-notification>
      <section id="panels" [ngStyle]="{'display' : showPanels ? 'initial' : 'none'}">
        <div class="panels-box">
          <app-panel-players [user]="user" (loadGame)="loadGame($event)"></app-panel-players>
          <app-panel-games (loadGame)="loadGame($event)"></app-panel-games>
        </div>
      </section>
      <app-game [user]="user"></app-game>
    </div>
  </main>
  <app-policy-accept></app-policy-accept>
</div>