header {
    display: grid;
    grid-template-columns: 1fr .3fr 1fr;
}

header>.c4-col>.logout {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

header>.c4-col>.logout>a {
    color: var(--main-text-color);
    opacity: .8;
}

header>.c4-col>.brand,
header>.c4-col>.profile {
    cursor: pointer;
}

header>.c4-col>.profile {
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile>.icon {
    position: relative;
    margin-left: 5px;
}

.profile>.icon>.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: radial-gradient(circle, transparent 68%, transparent 68%, #111 71%);
}

main {
    flex-grow: 1;
    padding: 10px 10px 0;
}

#panels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media (min-width: 768px) {
    header {
        padding: 30px 10px;
    }
    main {
        padding: 30px 10px 0;
    }
    .box {
        max-width: 720px;
        margin: 0 auto;
    }
}