<div class="c4-container" *ngIf="user">
  <header>
    <div class="brand" role="navigation" (click)="closeGameView()">
      <img src="assets/img/connect4.png" alt="board"> Connect Four
    </div>
    <div class="profile">
      <div id="icon" class="icon" (click)="showPopoverMenu = !showPopoverMenu">
        <img [src]="user.imgUrl" alt>
      </div>
      <div class="c4-popover" *ngIf="showPopoverMenu">
        <div class="item"><a href="https://blog.codecritique.org" target="_blank">About</a></div>
        <div class="item"><a href="https://en.wikipedia.org/wiki/Connect_Four" target="_blank">Help</a></div>
        <div class="divider"></div>
        <div id="signout-btn" class="item" (click)="signout()">Sign out</div>
      </div>
    </div>
  </header>
  <main>
    <div class="content">
      <section style="margin-bottom: -1em;">
        <app-notification></app-notification>
      </section>
      <section>
        <div [ngStyle]="{'display' : showPanels ? 'initial' : 'none'}">
          <div class="panels">
            <app-panel-players [user]="user"></app-panel-players>
            <app-panel-games (loadGame)="loadGame($event)"></app-panel-games>
          </div>
          <div id="AiPanel" class="c4-card">
            <div class="c4-card-header">Game against AI</div>
            <div class="c4-card-body">
              <div class="c4-card-row" (click)="onClickBot()">
                <div class="c4-card-row-item">
                  <img [src]="Bot.imgUrl" /> {{Bot.name}}
                </div>
                <div class="c4-card-row-item">Online</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <app-game [user]="user"></app-game>
      </section>
    </div>
  </main>
  <app-policy-accept></app-policy-accept>
</div>