<div class="c4-container">
  <header>
    <div class="brand" (click)="goHome()">
      <img src="assets/img/connect4.png" alt="board" role="navigation"> Connect Four
    </div>
    <div class="profile" *ngIf="user">
      <div id="icon" class="icon" (click)="showDropdownMenu = !showDropdownMenu;">
        <img [src]="user.iconUrl" alt="user pic">
      </div>
      <div class="c4-dropdown" *ngIf="showDropdownMenu">
        <div class="item"><a href="https://blog.codecritique.org" target="_blank">About</a></div>
        <div class="item"><a href="https://en.wikipedia.org/wiki/Connect_Four" target="_blank">Help</a></div>
        <div class="divider"></div>
        <div id="signout-btn" class="item" (click)="signout()">Sign out</div>
      </div>
    </div>
  </header>
  <main>
    <div class="box">
      <app-notification></app-notification>
      <section id="panels" *ngIf="user">
        <app-panel-players [user]="user" (joinGame)="joinGame($event)" [panelVisible]="panelsVisible">
        </app-panel-players>
        <app-panel-games (joinGame)="joinGame($event)" [panelVisible]="panelsVisible">
        </app-panel-games>
      </section>
      <router-outlet (activate)="onGameLoad($event)"></router-outlet>
    </div>
  </main>
</div>