form {
  width: 450px;
  height: 450px;
  margin: 0 auto 1em;
}

#board {
  position: relative;
  box-sizing: border-box;
}

#front {
  position: absolute;
  top: 60px;
  border: 15px solid #007fff;
  border-radius: 4px;
  box-sizing: border-box;
  width: 450px;
  height: 390px;
  pointer-events: none;
  background: radial-gradient(circle, transparent, transparent 18px, #007fff 20px, #007fff 23px, #1f90ff 23px, #1f90ff 36px, #007fff) center top/60px 60px;
}

#field {
  position: absolute;
  top: 0;
  left: 15px;
  padding: 75px 0 0 0;
  box-sizing: border-box;
  width: 420px;
  height: 435px;
  overflow: hidden;
  cursor: not-allowed;
}

.grid {
  position: relative;
  display: inline-flex;
  flex-flow: column wrap;
  min-width: 420px;
  height: 360px;
}

.column {
  margin: 0;
  display: inline-flex;
  flex-flow: column wrap;
  height: 360px;
}

.disc {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  color: #fff;
  background: radial-gradient(circle, currentcolor 12px, #666 13px, currentcolor 14px, currentcolor 21px, #666 22px, transparent 23px, transparent) center/60px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s top 0s 0.2s color 0s 0.2s;
}

input {
  display: none;
  position: absolute;
  top: -90px;
  margin: 0;
  width: 60px;
  height: 450px;
  cursor: pointer;
  opacity: 0;
}

input:indeterminate {
  display: initial;
}

input:checked+.disc {
  opacity: 1;
}

input:checked+.disc:nth-of-type(1) {
  transition: top 0.14s cubic-bezier(0.56, 0, 1, 1);
}

input:checked+.disc:nth-of-type(2) {
  transition: top 0.19s cubic-bezier(0.56, 0, 1, 1);
}

input:checked+.disc:nth-of-type(3) {
  transition: top 0.23s cubic-bezier(0.56, 0, 1, 1);
}

input:checked+.disc:nth-of-type(4) {
  transition: top 0.26s cubic-bezier(0.56, 0, 1, 1);
}

input:checked+.disc:nth-of-type(5) {
  transition: top 0.29s cubic-bezier(0.56, 0, 1, 1);
}

input:checked+.disc:nth-of-type(6) {
  transition: top 0.32s cubic-bezier(0.56, 0, 1, 1);
}

input:hover+.disc {
  color: var(--hover-disk-color);
  opacity: var(--hover-disk-opacity);
  transition: opacity 0.2s, top 0s;
}

input:hover+.disc:nth-of-type(1) {
  top: -75px;
}

input:hover+.disc:nth-of-type(2) {
  top: -135px;
}

input:hover+.disc:nth-of-type(3) {
  top: -195px;
}

input:hover+.disc:nth-of-type(4) {
  top: -255px;
}

input:hover+.disc:nth-of-type(5) {
  top: -315px;
}

input:hover+.disc:nth-of-type(6) {
  top: -375px;
}

.bullet {
  position: relative;
  top: 5px;
  float: left;
  width: 15px;
  height: 15px;
  background-color: var(--hover-disk-color);
  border-radius: 7.5px;
}

.turn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

