<form id="gameboard">
  <div id="board">
    <div id="field">
      <div class="grid">
        <ng-container *ngFor="let i of columns">
          <div class="column">
            <ng-container *ngFor="let j of rows">
              <input type="radio" name="{{j * 10 + i}}" tabindex="-1" (click)="onClickInput($event)"
                (mouseover)="onMouseoverInput($event.target.name)" (mouseleave)="onMouseleaveInput($event.target.name)">
              <div class="disc disc-initial" id="{{j * 10 + i}}"></div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div id="front"></div>
  </div>
</form>