<div class="card-row" *ngIf="game.state === 'in progress'">
  <div>
    <div class="bullet" [ngStyle]="{'background-color' : activePlayer.color}"></div>
    <span *ngIf="activePlayer === player">&nbsp;Your turn</span>
    <span *ngIf="activePlayer !== player">&nbsp;{{activePlayer.username}}'s turn</span>
  </div>
  <div>
    <div>
      <app-timer [active]="activePlayer === players.red"></app-timer>
      <app-timer [active]="activePlayer === players.yellow"></app-timer>
    </div>
  </div>
</div>
<div class="card-row" *ngIf="game.state === 'over' || game.state === 'on hold' && !isEmpty">
  <div>
    <div class="bullet" [ngStyle]="{'background-color' : game.winner.color}"></div>
    <span *ngIf="game.winner.username === player.username">&nbsp;You win!</span>
    <span *ngIf="game.winner.username !== player.username">&nbsp;{{game.winner.username}} wins</span>
  </div>
  <button class="btn btn-primary" (click)="onClickNewGame()">New game</button>
</div>
<div class="card-row" *ngIf="game.state === 'on hold' && isEmpty">
  <div>Waiting for {{opponent.username}}...</div>
  <app-timer [active]="true"></app-timer>
</div>
<form id="gameboard">
  <div id="board">
    <div id="field">
      <div class="grid">
        <ng-container *ngFor="let i of columns">
          <div class="column">
            <ng-container *ngFor="let j of rows">
              <input type="radio" name="{{j * 10 + i}}" tabindex="-1" 
              (click)="onClickInput($event)" 
              (mouseover)="onMouseoverInput($event.target.name, j)" 
              (mouseleave)="onMouseleaveInput($event.target.name)">
              <div class="disc" id="{{j * 10 + i}}"></div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div id="front"></div>
  </div>
</form>
