<div class="c4-modal-container">
  <div class="modal-header">
    <h4 class="modal-title"> {{status}}</h4>
    <button type="button" id="closeModal" class="close" aria-label="Close" (click)="activeModal.close('Quit')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="game.winner">
      <div class="grid">
        <div class="grid-item">
          <img [src]="game.winner.imgUrl" alt>
          <div class="details">
            <div>
              <span class="winner">
                  {{game.winner.name | surname}}
              </span>
            </div>
            <div class="points">Points: {{game.winner.points}}</div>
          </div>
        </div>
        <div class="grid-item">
          <div class="details">
            <div>
              <span>
                {{game.looser.name | surname}}
              </span>
            </div>
            <div class="points">Points: {{game.looser.points}}</div>
          </div>
          <img [src]="game.looser.imgUrl" alt>
        </div>
      </div>
    </div>
    <div *ngIf="!game.winner" style="text-align: center">
      Game ended in a draw 🤔
    </div>
  </div>
  <div class="modal-footer" *ngIf="game.isPlayer(user)">
    <button type="button" class="btn btn-success" aria-label="Close" (click)="activeModal.close('Rematch')"
      ngbAutofocus>
      Play another round
    </button>
  </div>
</div>
