<div class="c4-card">
  <div class="c4-card-header">Invite</div>
  <div class="c4-card-body">
    <div class="c4-card-row" *ngIf="players.size == 0">No one is online</div>
    <div class="c4-card-row" *ngFor="let player of players | keyvalue" (click)="onClick(player.value)">
      <div class="c4-card-row-item">
        <img [src]="player.value.imgUrl" alt="User icon" width="30" height="30"> {{player.value.name}}
      </div>
      <div>
        {{player.value.status}}
      </div>
    </div>
  </div>
</div>