.c4-card-body {
    height: 150px;
    overflow: scroll;
}

.placeholder {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
    user-select: none;
    color: rgb(252, 40, 40);
}

